.works
  .work
    a.fancybox-thumb(rel = 'fancybox-thumb' data-bind = 'attr:{href:picture, title:name}')
      img(data-bind = 'attr:{src:picture}' alt = 'фото: наши проекты' width = '200px' height = '160px')
      h3(data-bind = 'text:name') проект