#tabs
  ul
    li
      a(href="#tabs-main") главная
    li
      a(href="#tabs-1") Дома
    li
      a(href="#tabs-2") Бани
    li
      a(href="#tabs-gallery") Портфолио
    li
      a(href="#tabs-3") Другое

  #tabs-main
    .main
      h2 Дома для вас
      p Ищете классные и дешевые дома? Тогда мы идем к вам!
      img(src='content/img/home.jpg' height='350px' width='470px')
  #tabs-1
    .homes#home-1
      h3 проект ева
      span цена: 50 000 $
    .homes#home-2
    .homes#home-3
    .homes#home-4
    .homes#home-5
    .homes#home-6
  #tabs-2
    .bath#bath-1
    .bath#bath-2
    .bath#bath-3
    .bath#bath-4
    .bath#bath-5
    .bath#bath-6
  #tabs-gallery
    .photos
    .photos
    .photos
    .photos
    .photos
    .photos
  #tabs-3
    ul
      li заборы
      li двери
      li окна
      li отделка