.content
  margin 0 auto
  width 1000px
  border thin solid #BB9C6D
  border-radius 20px
  margin-top 10px
  background url('img/planshet3.png') 435px 6px no-repeat, url('img/plane2.jpg') repeat
  box-shadow 5px 5px 8px rgba(0,0,0,0.5)
  
.plane
  background url('img/paper7.png') repeat
  margin 20px
  margin-top 46px
  margin-right 40px
  margin-left 40px
  box-shadow 2px 2px 1px rgba(0,0,0,0.5)
  border-top-right-radius 10px
  min-height 720px

.homes, .baths, .photos
  height 210px
  width 200px
  margin-top 15px
  margin-left 66px
  display inline-block
  cursor pointer
  vertical-align top
  border thin solid black
  &:hover
    border thin solid red
  
body 
  background url('img/wood-1.png') repeat
  //background-color #EEE8CD
  
.main
  height 500px
  width 820px
  margin-top 20px
  margin-left 20px
  border thin solid black
  
.main p, .main h2, .main img
  margin-left 10px


.line
  border none
  position relative
  z-index 30
  background-color #949494
  height 1px
  top 45px
#firstTab
  margin-left -2px
.ui-tabs
  padding 0
  margin-top -12px
  border-color transparent
.ui-tabs .ui-tabs-nav
  padding 0px
.ui-tabs .ui-tabs-nav li
  border-color transparent
  font-family sans
  font-size 20px
  position relative
  z-index 20
  margin-left 20px
  border-radius 0px
  //background-color #AED0EA
  //background-color #d6de77
  //background url('img/color1.png') repeat
.ui-tabs .ui-tabs-nav .ui-tabs-anchor
  padding-right 50px
  padding-left 50px
  background-color transparent
  //color #7a7e47
  color #362b36
  font-weight normal
  font-family hand
.ui-widget-header
  border none
.ui-tabs .ui-tabs-nav li.ui-tabs-active
  z-index 40
  //background-color #787B4C
  background-color transparent
.ui-tabs .ui-tabs-nav li.ui-tabs-active a
  //color #f5f5dc
  //text-decoration underline
  font-weight bold

#tab-main
  background url('img/color1.png') repeat
  &:hover
    border-color blue
#tab-home
  background url('img/color2.png') repeat
#tab-bath
  background url('img/color3.png') repeat
#tab-gallery
  background url('img/color4.png') repeat
#tab-another
  background url('img/color5.png') repeat


.homes h3, .baths h3, .works h3
  margin-left 55px
  margin-bottom 0px
  margin-top 0px
 
.homes span, .baths span
  margin-left 55px


// single item when open
.hideLi
  display none
  
.singleImg, .singleGallery
  display inline-block
  vertical-align top
  
.singleGallery
  height 460px
  width 160px
  border thin solid black
  
.singleGallery .image, .singleGallery .planeFirst, .singleGallery .planeSecond
  height 150px
  width 150px
  border thin solid black
  

// gallery
.works
  height 200px
  width 200px
  margin-top 15px
  margin-left 66px
  display inline-block
  cursor pointer
  vertical-align top
  border thin solid black
  &:hover
    border thin solid red