doctype html
html
  head
    meta(charset='utf-8')
    title Дома под ключ
    link(rel='stylesheet' href='styles/normalize.css')
    link(rel='stylesheet' href='styles/tabs.css')
  body
    header
    #content