// HEADER------------------
#head
  position relative
  margin 0 auto
  min-width 1000px
  max-width 1800px
  height 200px
  border thin solid black
  background rgba(39,121,170,0.58) url('img/home.png') 600px -30px no-repeat
  background-size 600px 300px

#company, #contacts
  position absolute
  height inherit
  width 498px
  display inline-block
  border thin solid black
  vertical-align top
  border-radius 30px
  
#company
  left 0px

#contacts
  right 0px
  background rgba(39, 121, 170, 0.58)  url('img/face.png') 20px 20px no-repeat
  background-size 100px

#cont1, #cont2
    color white
    font-size 20px
    font-weight bold
    font-family arial
    margin-left 150px
    margin-top 30px
    
#company
  background rgba(39, 121, 170, 0.58)  url('img/logo.png') 0px 0px no-repeat
  background-size 100px
  
#com1, #com2
  color white
  font-size 20px
  font-weight bold
  font-family arial
  margin-left 150px
  margin-top 30px